/*  styles to remove cell focus highlighting */
.MuiDataGrid-cell:focus,
.MuiDataGrid-cell:focus-within {
  outline: none !important;
}

/* remove right margin for slot in react-big-calendar  */
.rbc-day-slot .rbc-events-container {
  margin-right: 0px;
  /* margin-right: 10px; */
}

/* elminate all selection/focus styles in react-big-calendar*/
.rbc-day-slot .rbc-background-event,
.rbc-day-slot .rbc-event {
  border: none !important;
  outline: none !important;
}